In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("spotify_millsongdata.csv")

In [13]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [14]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [15]:
df.shape

(57650, 4)

In [16]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [17]:
df = df.sample(5000).drop('link',axis=1).reset_index(drop=True)

In [18]:
df.head(10)

,artist,song,text
0,Tom Waits,Kentucky Avenue,Eddie Graces Buick got four bullet holes in th...
1,Roy Orbison,(I'd Be) A Legend In My Time,If heartaches brought fame \r\nIn loves crazy...
2,Planetshakers,I Surrender,Waiting my heart open \r\nHands raised to You...
3,Ween,El Camino,"El Camino, blazing down the road \r\nEl Camin..."
4,Backstreet Boys,All Of Your Life(Need Love),"Hey \r\nYeah, yeah \r\nI wanna know \r\nCan..."
5,Rihanna,Put Them Lighters Up,"Just to sleep, just to sleep \r\nPut them lig..."
6,Bruno Mars,Ladies Is Pimps To,Chorus: \r\nFresh out the mall in our brand n...
7,Linda Ronstadt,Blue Bayou,I feel so bad I got a worried mind \r\nI'm so...
8,Electric Light Orchestra,In My Own Time,"Doom, gloom and misery \r\nThat's what you ga..."
9,Bee Gees,Barker Of The UFO,Barker sing me a song \r\nInstead of counting...

In [19]:
df['text'][0]

"Eddie Graces Buick got four bullet holes in the side,  \r\nCharlie Delisle sittin' at the top of an avocado tree.  \r\nMrs. Stormll stab you with a steak knife if you step on her lawn.  \r\nI got a half pack of Lucky Strikes, man, come along with me!  \r\nLets fill our pockets with macadamia nuts, then go over to Bobby Goodmansons\r\nand jump off the roof! Hilda plays strip poker and her mamas across the\r\nstreet,  \r\nJoey Navinski says she put her tongue in his mouth!  \r\nDicky Faulkners got a switchblade and some gooseneck risers that eucalyptus is\r\na hunchback,  \r\nThere's a wind up from the south!  \r\nLet me tie you up with kite string and I'll show you the scabs on my knee!  \r\nWatch out for the broken glass, put your shoes and socks on and come along\r\nwith me!  \r\nLets follow that fire truck  \r\nI think your house is burnin' down!  \r\nThen go down to the hobo jungle  \r\nAnd kill some rattlesnakes with a trowel!  \r\nWe'll break all the windows in the old Anderson place  \r\nAnd steal a bunch of boysenberrys  \r\nAnd smear 'em on our face!  \r\nI'll get a dollar from my mamas purse  \r\nAnd buy that skull and crossbones ring  \r\nAnd you can wear it around your neck  \r\nOn an old piece of string  \r\n  \r\nThen we'll spit on Ronnie Arnold  \r\nAnd flip him the bird  \r\nAnd slash the tires on the school bus  \r\nNow don't say a word!  \r\nI'll take a rusty nail  \r\nAnd scratch your initials on my arm  \r\nAnd I'll show you how to sneak up  \r\nOn the roof of the drugstore  \r\n  \r\nTake the spokes from your wheelchair  \r\nAnd a magpies wings  \r\nAnd tie 'em to your shoulders and your feet!  \r\nI'll steal a hacksaw from my dad  \r\nAnd cut the braces off your legs  \r\nAnd we'll bury them tonight in the cornfield  \r\n  \r\nPut a church key in your pocket  \r\nWe'll hop that freight train in the hall  \r\nAnd we'll slide all the way down the drain  \r\nTo New Orleans in the fall!\r\n\r\n"

In [20]:
df.shape

(5000, 3)

# Text cleaning/Text preprocessing

In [21]:
df['text'] = df['text'].str.lower().replace(r'^/w/s',' ').replace(r'/n',' ',regex = True)

In [22]:
df.tail(5)

,artist,song,text
4995,Elton John,Belfast,deep inside \r\nmy soul fights a war \r\ni c...
4996,Kinks,Do It Again,standing in the middle of nowhere \r\nwonderi...
4997,Glee,Just The Way You Are,"her eyes, her eyes \r\nmake the stars look li..."
4998,Bing Crosby,Evelina,"evelina, won't ya ever take a shine to that mo..."
4999,Hank Snow,How Big Is God,though men may strife to go \r\nbeyond the re...

In [23]:
import nltk
from nltk.stem import PorterStemmer
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jyoti\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [24]:
stemmer = PorterStemmer()

In [25]:
def token(txt):
    token = nltk.word_tokenize(txt)
    a=[stemmer.stem(w) for w in token]
    return " ".join(a)

In [26]:
token("you are beautiful,beauty")

'you are beauti , beauti'

In [41]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [49]:
# Create an instance of TfidfVectorizer with specified parameters
tfidf = TfidfVectorizer(analyzer='word', stop_words='english')

In [50]:
# Fit and transform the documents into TF-IDF vectors
matrix = tfidf.fit_transform(df['text'])

In [51]:
# Compute cosine similarity between the documents
similer = cosine_similarity(matrix)

In [52]:
similer[0]

array([1.        , 0.00542491, 0.01095618, ..., 0.02455147, 0.00178704,
       0.00867661])

In [55]:
df[df['song']=='Belfast'].index[0]

4995

# recommender Function

In [56]:
def recommender(song_name):
    # Get the index of the song in the DataFrame
    idx = df[df['song'] == song_name].index[0]
    
    # Get the similarity distances for the song
    distance = sorted(list(enumerate(similer[idx])), reverse=True, key=lambda x: x[1])
    
    # Initialize an empty list to store recommended songs
    song = []
    
    # Loop through the sorted distances to get the top 20 recommendations
    for s_id in distance[1:21]:  # Start from 1 to exclude the song itself
        song.append(df.iloc[s_id[0]].song)
    
    return song

In [59]:
recommender ("Evelina")

["Don't You Know",
 'Grenade',
 "I'm Him",
 'Grenade',
 'Novelty',
 'Power To Move Ya',
 "It Won't Take Long",
 'We Could Be So Good Together',
 'Hell Wit Ya',
 'Overnight Male',
 'Worthy To Say',
 "Life'll Kill Ya",
 'Get Down',
 'Insane Killas',
 'November Rain',
 'Morning Glory',
 'Stronger',
 'Oye Baby',
 'I Go Down',
 'Alleluja']

In [60]:
import pickle

In [61]:
pickle.dump(similer, open("similarity","wb"))

In [62]:
pickle.dump(df, open ("df","wb"))